.mainheading{
    text-align: center;
}
body,html{
    height:100%;
}

  
body{
    background-image:url("https://png.pngtree.com/thumb_back/fw800/back_pic/00/05/08/245625e1b3a6203.jpg");
    background-size: cover;
    background-repeat:no-repeat; 
    height: 100%;
    background-position: center;

    
}
a {
    text-decoration: none
}

ul{
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
}

li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #483;
}
